
body{
    background-color: black;
}
.body{
    
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;

}
.body h1{
    position: absolute;
    left: 360px;
    top: 100px;
}
.row1{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    top: 200px;
    left: 300px;

}
.row2{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    top: 350px;
    left: 200px;

}
.row3{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    top: 500px;
    left: 100px;


}
.col{
   
    width: 100px;
    height: 100px;
}
.c1{
    background-color: aqua;
     top:100px; 
     left:300px; 
}

.c2{
    background-color: rgb(103, 13, 113);
     top:100px; 
    left:450px; 
}
.c3{
    background-color: rgb(20, 117, 57);
    top:100px;
    left:600px;
}
.c4{
    background-color: rgb(125, 22, 116);
    top:100px;
    left:750px;
}
.c5{
    background-color: rgb(92, 9, 21);
    top:100px;
    left:900px;
}
.c6{
    background-color: rgb(88, 189, 16);
    top:250px;
    left:150px;
}
.c7{
    background-color: rgb(64, 12, 131);
    top:250px;
    left:300px;
}
.c8{
    background-color: aqua;
    top:250px;
    left:450px;
}

.c9{
    background-color: rgb(128, 9, 36);
    top:250px;
    left:600px;
}
.c10{
    background-color: rgb(234, 187, 32);
    top:250px;
    left:750px;
}
.c11{
    background-color: rgb(58, 200, 22);
    top:250px;
    left:900px;
}
.c12{
    background-color: aqua;
    top:250px;
    left:1050px;
}
.c13{
    background-color: rgb(124, 11, 62);
    top:400px;
    left:0px;
}

.c14{
    background-color: rgb(16, 5, 136);
    top:400px;
    left:150px;
}
.c15{
    background-color: rgb(180, 20, 121);
    top:400px;
    left:300px;
}
.c16{
    background-color: aqua;
    top:400px;
    left:450px;
}

.c17{
    background-color: rgb(87, 70, 89);
    top:400px;
    left:600px;
}
.c18{
    background-color: rgb(101, 93, 79);
    top:400px;
    left:750px;
}
.c19{
    background-color: rgb(128, 80, 225);
    top:400px;
    left:900px;
}
.c20{
    background-color: rgb(142, 228, 118);
    top:400px;
    left:1050px;
}
.c21{
    background-color: rgb(31, 119, 119);
    top:400px;
    left:1200px;
}
