*{
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro", serif;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-family: "Edu AU VIC WA NT Hand", serif;
    text-align: center;
}
body{
    background-color: black;
    color: bisque;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    /* top: 0; */
}
header img{
    width: 50px;
    border: 5px ridge bisque;
    border-radius: 50%;
    margin: 10px;
}
.first{
    display: flex;
    align-items: center;
}
 ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    flex-direction: row;
}
ul li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;


}
ul li a{
    text-decoration: none;
    color: bisque;
}
.phn{
    color: bisque;
    font-size: x-large;
    margin-top: 20px;
    margin-right: 40px;
    
}
ul li a:hover,
.first h1:hover,
.phn:hover{
    color: rgb(99, 96, 96);
}
#home{
    display: flex;
    
}
#img1 img{
    width: 600px;
    
}
#head1{
   margin-top: 100px;
}
#head1 h1{
    position: absolute;
    left: 60%;
    top: 50%;
}
#head1 button{
    position: absolute;
    left: 65%;
    top: 60%;
}

/* From Uiverse.io by AlimurtuzaCodes */ 
.btn {
    border: none;
    width: 15em;
    height: 5em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #1C1A1C;
    cursor: pointer;
    transition: all 450ms ease-in-out;
  }
  
  .sparkle {
    fill: #AAAAAA;
    transition: all 800ms ease;
  }
  
  .text {
    font-weight: 600;
    color: #AAAAAA;
    font-size: medium;
  }
  
  .btn:hover {
    background: linear-gradient(0deg,#A47CF3,#683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #9917FF;
    transform: translateY(-2px);
  }
  
  .btn:hover .text {
    color: white;
  }
  
  .btn:hover .sparkle {
    fill: white;
    transform: scale(1.2);
  }
  section{
    height: 700px;
  }
  .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
  } 
  .row h2{
    text-align: center;
    margin-bottom: 30px;
  }
  .row p{
    text-align: justify;
    margin: 50px;
  }
  .project{
    padding: 50px;
  }

  /* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    width: 250px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
  .service{
    border: 2px solid white;
    padding: 20px;
    margin: 30px;
    box-shadow: 4px 5px 6px white;
    
  }
  .service:hover{
    border: none;
    box-shadow: none;
    transition: 2s;
  }
  .service .img1{
    width: 100%;
    
  }

  .service h3{
    text-align: center;
    margin-top: 20px;
  }

  /* contact section From Uiverse.io by gharsh11032000 */ 
.form-container {
    margin-top: 150px;
    margin-left: 500px;
     width: 450px;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#ffffff, #000000) border-box;
    border: 2px solid transparent;
    /* padding: 32px 24px; */
    padding: 50px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #fff;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #e81cff;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: #fff;
  }
  
  
  
  