

*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    
}
:root{
    
    --main-color:#54372a;
    --second-color: #df582e;
    --text-color:#060413;
    --container-color: #f8e4be;
    --bg-color: #f9f6f2;
    --text-alter-color: #94908e;

}
body{
    color: var(--text-color);
    background-color: var(--container-color);
}
a{
    text-decoration: none;
}
.sec-img{
   
    background-color: #f6eedf;
}
img{
    width:100% ;
}
section{
    padding:48px 0 32px ;
}
header{
    position: fixed;
    
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nav{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    background-color: var(--text-color);
    border-radius: 0;
    padding: 20px;
    width: 100%;
    
}
.logo{
    font-size: 28px;
    font-weight: 700;
    color: var(--container-color);
    padding-left: 20px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
}
.nav-link{
    font-size: 16px;
    color: var(--text-alter-color);
}
.nav-link:hover{
    color: var(--bg-color);
}
.nav-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--container-color);
    column-gap: 20px;
    font-size: 15px;
    padding-right: 20px;
}
.home{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 20px;
    background-color: #f6eedf;
    padding-bottom: 70px;

}
.img-box1 {
    width: 100%;
    height: 500px;
   object-fit: cover;
    background-attachment: fixed;
    background-size:cover;
    background-position:center;
    
}
.img-box2{
    border-radius: 50% 0 50% 0;
    width: 300px;
    height: 300px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.959);
}
.home-text h1{
    font-size: 40px;
    font-weight: 800;
    color: var(--main-color);
    text-shadow: 2px 2px 2px #060413;
}
.home-text p{
    font-size: 16px;
    margin-top: 9px;
    
}
.home-text .coff{
    color: #e98446;
}
.home-text .shop,.proinfo button{
    
    color:var(--bg-color);
    background-color: var(--text-color);
    border-radius: 30px;
    padding: 10px 15px 10px 15px;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.heading h2{
    font-size: 35px;
    font-weight: 800;
    color: #4e2e1d;
}
.service-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    margin-top: 50px;
}
.box{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 36px;
    padding: 40px;
    border-radius: 20px;
    width: 140px;
}
.box img{
    width: 100px;
    height:100px;
    object-fit: cover;
    
}
.box p{
    color: var(--container-color);
}
.heading p{
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
}
.heading h3{
    font-size: 20px;
    font-weight: 700;
    color: #c1612d;
    margin-top: 5px;
}
.products{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.product-box{
    width: 820px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    flex-direction: row;
    background-color: #f6eedf;
    padding: 50px;
    margin-top: 50px;
    border-radius: 5px;
    
}
.probox{
    background-color: #fff8f7;
    
    height: 290px;
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 5px rgba(0 ,0,0,.8);
    

}
.probox img{
    border-radius: 30px 30px 0 0;
    width: 220px;
    height: 150px;
    margin-bottom: 10px;
    object-fit: cover;
}

.probox h2{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 800;
    padding: 2px 10px 2px 10px;
    
}
.probox p{
    font-size: 16px;
    padding: 2px 10px 2px 10px;
}
.proinfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 2px 10px;

}
.proinfo span{
    color: var(--main-color);
}
.foot{
    background-color: #19100b;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}
.foot h3{
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.foot p{
    color: #f8e4be;
    margin-top: 20px;
}
.subfoot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}
