*
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}
#box{
    background-color: rgb(136, 243, 231);
    padding: 5px 20px 10px 45px;
    width: 1000px;
    height: 670px;
    margin-left: 15%;
    margin-top: 5%;
}
.box1,.box2,.box3,.box4{
    
    width: 220px;
    height: 540px;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-right: 20px;
    float: left;
    border: 4px groove rgb(245, 144, 62);
    box-shadow: 4px 4px 5px white;
}
.box1{
    background-color: rgb(247, 135, 235);
}
.box2{
    background-color: rgb(10, 250, 246);
}

.box3{
    background-color: rgb(130, 243, 108);
}
.box4{
    background-color: rgb(254, 80, 184);
}
h2{
    color: rgb(68, 6, 125);
    text-decoration: underline;
    text-shadow: 3px 3px 8px rgb(37, 2, 60);
}
.imgbox{
    
}
.img{
    width: 160px;
    height: 120px;
    border-radius: 50%;
    margin-top: 20px;
    border: 3px ridge wheat;
}
p{
    text-align: left;
    padding: 20px;
    color: rgb(58, 113, 24);
}