*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black
}
h1{
    color:azure ;
}
#cource{
    color: aquamarine;
}
.para{
   color: bisque;
}
li,p{
    font-weight: bold;
    font-style: italic;
    color: aqua;
}
button{
    background-color: black;
    color: white;
}
button:hover{
    background-color: white;
    color: black;
    width: 200px;
}
h4::first-letter{
    color: blueviolet;

}
p::first-line{
    color: brown;
}